In [118]:
# Import the pandas library for data manipulation and analysis
import pandas as pd

# Import the NumPy library for numerical operations and handling arrays
import numpy as np

# Import the Matplotlib library for creating static, interactive, and animated visualizations
import matplotlib.pyplot as plt

# Import the Seaborn library for enhanced data visualization, built on top of Matplotlib
import seaborn as sns

In [120]:
# Import the load_iris function from the sklearn.datasets module
from sklearn.datasets import load_iris

In [9]:
# Load the Iris dataset
iris = load_iris()

# Create a DataFrame for better readability
iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [48]:
X=iris_df[["petal length (cm)"]]
X
y=iris_df[["petal width (cm)"]]
y

     petal width (cm)
0                 0.2
1                 0.2
2                 0.2
3                 0.2
4                 0.2
..                ...
145               2.3
146               1.9
147               2.0
148               2.3
149               1.8

[150 rows x 1 columns]

In [116]:
from sklearn.model_selection import train_test_split
# Step 1: Train-Test Split and calculate MSE
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardizing the Training features 

""" 
For most regression tasks, you should not standardize the output feature. Focus on standardizing the input features to improve model
training and performance. Keep the output in its original scale to maintain interpretability and clarity in your results.
"""
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_std = scaler.fit_transform(X_train)
X_test_std =  scaler.transform(X_test)


# Initialize linear regression model
model = LinearRegression()

# Train the model on training data
model.fit(X_train_std, y_train)

# Predict on the test data
y_pred_test = model.predict(X_test_std)

# Calculate MSE for single train-test split
mse_single_split = mean_squared_error(y_test, y_pred_test)
print(f"MSE from single train-test split: {mse_single_split}")

# Step 2: Cross-validation and calculate average MSE
"""
You do not need to manually split or preprocess X and y before using cross-validation, 
especially if you use a pipeline. Cross-validation simplifies the process of evaluating model performance while 
ensuring proper handling of data splits and transformations.
"""
mse_cv = -cross_val_score(model, X, y, cv=5, scoring='neg_mean_squared_error')  # Negative MSE
mse_cv_mean = np.mean(mse_cv)
print(f"Mean MSE from cross-validation: {mse_cv_mean}")

# Step 3: Compare both MSEs
if mse_cv_mean < mse_single_split:
    print("Cross-validation MSE is better (lower) than the MSE from a single train-test split.")
else:
    print("MSE from single train-test split is better (lower) than cross-validation MSE.")

MSE from single train-test split: 0.04560428409766182
Mean MSE from cross-validation: 0.04528418063039472
Cross-validation MSE is better (lower) than the MSE from a single train-test split.